@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer components {
	/* Wilden */
	h1,
	h2,
	h3,
	h4 {
		@apply font-wilden;
	}
	h1 {
		@apply text-8xl;
	}
	h2 {
		@apply text-6xl;
	}
	h3 {
		@apply text-5xl;
	}
	h4 {
		@apply text-4xl;
	}

	/* Inter/Neueu Montreal */
	h5,
	button,
	p {
		@apply font-inter;
	}

	h5 {
		@apply text-2xl;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: #0f0f26;
}

@layer components {
	.countdown-snowball {
		@apply bg-[url('/countdown/snowball.svg')] bg-no-repeat bg-center max-w-[14rem] max-h-[14rem] lg:max-w-[20rem] lg:max-h-[20rem] bg-contain flex flex-col items-center justify-center w-full h-auto aspect-square text-[#404070];
	}
}
